.card-container {
  width: 95%;
  //margin-top: -50px;
}


.card {
  min-width: 100%;
  width: 100%;
	border: 1px solid #c9c9c9;
	border-radius: 5px;
  background-color: #f5f3ef;
  height: 190px;
  //box-shadow: 0 2px 1px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #222;
  transition: all 0.2s ease-in-out;
  font-family: BrandonGrotesque-Regular;
  margin-bottom: 20px;
  }





.arrow-tab {
  //box-shadow: 0 0 2px 1px rgba(0,0,0,0.4);
  height: 81px;
  right: -54px;
  position: absolute;
  top: -45px;
  width: 81px;  
  transform: rotate(45deg);
  box-sizing: content-box;
  box-sizing: border-box;
  z-index: 2;

  span {
    color: #f5f5f5;
    font-family: sans-serif;
    font-size: 1em;
    left: 17px;
    top: 47px;
    position: absolute;
    width: 48px;
  }
}


.arrow-tab.red {
  background-color: #CB3332;
}

.arrow-tab.yellow {
  background-color: #FFC000;
}

.arrow-tab.green {
  background-color: #87CE49;
}


.breakfast {
  background-image: url(../imgs/bg-icons/breakfast.svg);
}
.cakes {
  background-image: url(../imgs/bg-icons/cakes.svg);
}
.coffee {
  background-image: url(../imgs/bg-icons/coffee.svg);
}
.colddrinks {
  background-image: url(../imgs/bg-icons/colddrinks.svg);
}
.extras {
  background-image: url(../imgs/bg-icons/extras.svg);
}
.fruit {
  background-image: url(../imgs/bg-icons/fruit.svg);
}
.hotchocolate {
  background-image: url(../imgs/bg-icons/hotchocolate.svg);
}
.hotdrink {
  background-image: url(../imgs/bg-icons/hotdrink.svg);
}
.hotmeals {
  background-image: url(../imgs/bg-icons/hotmeals.svg);
}
.panini {
  background-image: url(../imgs/bg-icons/panini.svg);
}
.salads {
  background-image: url(../imgs/bg-icons/salads.svg);
}
.sandwiches {
  background-image: url(../imgs/bg-icons/sandwiches.svg);
}
.snacks {
  background-image: url(../imgs/bg-icons/snacks.svg);
}
.sweetpastries {
  background-image: url(../imgs/bg-icons/sweetpastries.svg);
}
.tea {
  background-image: url(../imgs/bg-icons/tea.svg);
}
.toasties {
  background-image: url(../imgs/bg-icons/toasties.svg);
}
.savourypastries {
  background-image: url(../imgs/bg-icons/savourypastries.svg);
}




.main-card-info {
  height: 170px;
  //border: 2px solid hotpink;
  width: 100%;
  z-index: 1;
  //background-image: ffffffffff;
  background-size: 20%;
  background-repeat: repeat 0 0;
}


.product-title-wrapper {
  border-bottom: 3px solid #6D1F37;    
  width: 100%;
  text-align: center;
  height: 60px;
  margin-bottom: 5px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.product-title {
  //border: 2px solid red;
  font-weight: 900;
  text-transform: uppercase;
  width: 90%;
  font-size: 1.3rem;
}


.tags-wrapper {
  height: 15px;
  //border: 2px solid red;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
  z-index: 3;
  div {
    width: 23%;
    //border: 1px solid red;
    margin-right: 5px;
    font-size: 0.7rem;
    z-index: 3;
    text-align: center;
    font-weight: bold;
    color: #222;
    border-radius: 2px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
.vegan-tag {
background-color: #C3FF64;
}

.vegetarian-tag {
background-color: #FFEB78;
}

.nuts-tag {
background-color: #FF6856;
}

.gluten-tag {
background-color: #FF8A48;
}

.disabled {
text-decoration: line-through;
background-color: rgb(173, 173, 173);
}
}

.status-notes-main-wrapper {
  display: flex;
  height: 85px;
  //border: 1px solid hotpink;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.status-wrapper {
  height: 30px;
  //border: 2px solid blue;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 10px;
  padding-top: 3px;
  h3 {
    font-size: 1.3rem;
    margin-left: 10px;
  }
}

.notes-wrapper {
  height: 35px;
  margin-left: 60px;
  margin-right: 60px;
  //border: 2px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  text-align: center;
  span {
    line-height: 15px;
  }
}


.nutritional-wrapper {
  border: 2px solid hotpink;
  color: #eee;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  cursor: pointer;
  outline: none;
  max-height: 19px;
  border-left: 1px solid #c9c9c9;
  border-right: 1px solid #c9c9c9;
  z-index: 3;

  .more-info-header {
    border: 1px solid orangered;
    background-color: #6D1F37;
    height: 21px;
    width: 100%;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    h4 {     
    height: 100%; 
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    margin-top: 0px;
    font-weight: 400;
    }
  }
}

.table-wrapper {  
  border: 1px dashed darkblue;
  width: 60%;
  height: 100%;
  justify-content: center;
  color: black;


  table {
    //border: 1px solid hotpink;
    width: 100%;
    font-size: 0.85rem;

    th, td {
      border: 1px solid #222;
    }

    th {
      font-size: 0.9rem;
    }
  }
}

.grow {
  height: 335px;
}

.shrink {
  height: 190px;
}


@media only screen and (min-width: 800px) {
  .card-container {
    width: 70%;
  }
}

@media only screen and (min-width: 1000px) {
  .card-container {
    width: 60%;
  }
}


.noSelect {
  //-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}