@import './styles/header.scss';
@import './styles/searchbox.scss';
@import './styles/card.scss';

* {
  //border: 1px solid rgba(24, 255, 16, 0.856);
}

body {
background-image: url('imgs/cubes2.jpg');
background-size: 500px;
//border: 1px solid red;
}

.container {
	//width: 960px;
	max-width: 100%;
	margin: 0 auto;
}

.main-content {
  z-index: 0;
  width: 960px;
  max-width: 100%;
  //background-color: #FFFBF9;
  min-height: 90vh;
  //border: 1px solid green;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

}

.loading-spinner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -40px;
}

@font-face {
  font-family: 'BrandonGrotesque-Regular';
  src: url('./fonts/BrandonGrotesque-Regular.woff') format('woff')
}

@font-face {
  font-family: 'BrandonGrotesque-Bold';
  src: url('./fonts/BrandonGrotesque-Bold.woff') format('woff')
}

@font-face {
  font-family: 'Clarendon';
  src: url('./fonts/ClarendonRegular.woff') format('woff')
}

@media screen and (max-device-width: 480px){
  body{
    -webkit-text-size-adjust: 100%;
  }
}